<div id="wrapper" (click)="click($event)" >
  <!-- <div class="grid"> -->
  <dts-select-container class="drag-area grid" 
  [(selectedItems)]="selectedPhotos" 
  (select)="selected($event)" 

  [selectMode]="true">
      
      <img src="{{document.photo}}" *ngFor="let document of photosArr" draggable="true" [dtsSelectItem]="document" (mousedown)="dragPhotos($event)" (mouseup)="liftfreeze($event)">
  </dts-select-container>
 <!-- </div> -->
  
  <!-- <div class="selected-items">
      <div>Selected</div>
      <pre>{{ selectedPhotos | json }}</pre>
  </div> -->

</div>