.container {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    z-index: 1;
    position: fixed;
    bottom: 40px;
}
#triangle{
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(77, 235, 182);
    position: fixed;
    bottom: 20px;
}
#albuminput {
    width: 192px;
}
#center{
   margin: 0;
   position: absolute;
   top: 30%;
   left: 35%;

}
.loginSignupBtns {
    background-color: rgb(77, 235, 182);
    border: none;
    padding: 10px;
    border-radius: 5px;
}