
<div id="sidebar">
  <div class="linkSpace">
    <a routerLink="imports" class="button" routerLinkActive="active">Imports</a>
  </div>

  <div class="linkSpace">
    <a routerLink="latestimports" class="button" routerLinkActive="active">Latest Imports</a>
    </div>  

<div class="linkSpace">
<a routerLink="cameraroll" class="button" routerLinkActive="active">Photos</a>
</div>

<div class="linkSpace">
  <a routerLink="trash" class="button" routerLinkActive="active">Trash</a>
  </div>
  
    <div id="line">
      <p>Albums</p>
    </div>
<div *ngFor="let album of albumarr">
  <div class="linkSpace">
    <div (click)="albumSelect($event)" class="button" routerLinkActive="active" (drop)="drop($event)" (dragover)="allowDrop($event)">{{album.name}}</div>
  </div>
</div>
<div *ngIf="popup">
  <app-popup class="pop"></app-popup>
</div>
<div *ngIf="!popup">

</div>

<div id="plusSign" (click)="createAlbum($event)">
  +
</div>

</div>
<div id="outlet">
  <router-outlet></router-outlet>
</div>
