
#wrapper {
    margin-left: 20%;
    width: 100%;
    height: 94%;
    border: 2px solid green;
    // z-index: -1;
    overflow: scroll;
    position: absolute;
  }
  .column {
    position: relative;
    float: left;
    width: 25%;
    margin: 10px;
    height: 300px;
  }
  img{
    max-width: 70%;
    max-height: 70%;
  
    position: relative;
  
  }

  
  .grid {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
  

  mat-card {
    border: 1px solid transparent;
  }
  
  #header {
      width: 80%;
      height: 25px;
      background-color: grey;
  }
  #emptyTrashButton {
      float: right;
  }
  #undoBtn{
    width: 25px;
    height: 25px;
    float: left;
  }